{% extends 'shop/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Checkout" %}
{% endblock %}

{% block content %}
    <h1>{% trans "Checkout" %}</h1>
        <div class="order-info">
            <h3>{% trans "Your order" %} </h3>
            <ul>
                {% for item in cart %}
                    <li>
                        {{item.quantity}}x {{item.product.name}}
                        <span>{% trans "$" %}{{ item.total_price_after_discount|floatformat:"2" }}</span>
                    </li>
                    {% if cart.coupon %}
                        <li>
                            {% blocktrans with code=cart.coupon.code discount=cart.coupon.discount %}
                                "{{code}}" ({{ discount }}% off)
                            {% endblocktrans %}
                            <span>- {% trans "$" %}{{cart.get_discount|floatformat:'2'}}</span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

    <form action="." method='post' class='order-form'>
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type='submit' value="{% trans "Place order" %}"></p>
    </form>
{% endblock %}


