{% extends 'shop/base.html' %}
{% load i18n %}
{% load static %}
{% block title %} Pay by credit vard {% endblock %}

{% block content %}
    <h1> {% trans "Pay by credit card" %}</h1>
    {% comment %}
    <form action="." id='dropin_payment' method='post'>
        <div id="dropin-container"></div>
        {% csrf_token %}
        <input type='hidden' id='dropin_nonce' name='payment_method_nonce' value="">
        <input type="submit" id='dropin_submit' value="Pay" disabled >
    </form>
    {% endcomment %}


    <form action="." id='payment' method='post'>
        <label for="card-number">{% trans "Card Number" %}</label>
        <div id="card-number" class="field"></div>

        <label for="cvv">{% trans "CVV" %}</label>
        <div id="cvv" class="field"></div>
      
        <label for="expiration-date">{% trans "Expiration Date" %}</label>
        <div id="expiration-date" class="field"></div>
        

             
        {% csrf_token %}
        <input type='hidden' id='nonce' name='payment_method_nonce' value="">
        <input type="submit" id='submit' value="{% trans 'Pay' %}" disabled >
    </form>


    <script src="https://js.braintreegateway.com/web/3.44.2/js/client.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.44.2/js/hosted-fields.min.js"></script>
    <script src="https://js.braintreegateway.com/web/dropin/1.26.1/js/dropin.min.js"></script>
    <script>
        form=document.querySelector('#payment');
        dropin_form=document.querySelector('#dropin_payment');
        var submit=document.querySelector('#submit');
        var dropin_submit=document.querySelector('#dropin_submit');

        braintree.dropin.create({
                authorization: '{{ client_token }}',
                container: '#dropin-container'
            }).then(function(dropinInstance){
                dropin_submit.removeAttribute('disabled');
                dropin_form.addEventListener('submit',event =>{
                    event.preventDefault();
                    dropinInstance.requestPaymentMethod().then(payload=>{
                        document.getElementById('dropin_nonce').value = payload.nonce;
                        dropin_form.submit();
                    });
                });
            }).catch(function(result){
                console.error(result);
            });


        braintree.client.create({
            authorization: '{{ client_token }}',
        }).then(
            function(clientInstance){
                option={
                        client:clientInstance,
                        styles: {
                            'input': {'font-size': '14px'},
                            'input.invalid': {'color': 'red'},
                            'input.valid': {'color': 'green' }
                            },
                        fields:{
                            number: {
                                selector: '#card-number',
                                placeholder: '4111 1111 1111 1111'
                                },
                            cvv: {
                                selector: '#cvv',
                                placeholder: '123'
                                },
                            expirationDate: {
                                selector: '#expiration-date',
                                placeholder: '10/2022'
                                }
                            }
                    };
                    return braintree.hostedFields.create(option);
            }
        ).then(function(hostedFieldsInstance){
            submit.removeAttribute('disabled');
            form.addEventListener('submit',function(event){
                    event.preventDefault();
                    hostedFieldsInstance.tokenize()
                        .then(function(payload){   
                            console.log('got a nonce:'+payload.nonce);
                            document.getElementById('nonce').value=payload.nonce;
                            document.getElementById('payment').submit();
                        });
                });
        });

    </script>
{% endblock %}